<h1>Editing transaction</h1>

<%= render "form", transaction: @transaction %>

<br>

<div>
<%= button_to "Destroy this transaction", [@transaction.company, @transaction], method: :delete %>  
<%= link_to "Back to company", company_path(@transaction.company) %>
</div>
